@use 'theme'

nav
    padding: 1rem 1.5rem
    background-color: theme.$secondary-bg
    width: 100%
    font-size: 1rem
    position: relative
    bottom: 0
    left: 0
    display: flex
    justify-content: flex-start
    align-items: left

    @media screen and (max-width: 1000px)
        justify-content: center

    ul
        display: flex
        list-style: none
        gap: 1.5rem

        li
            a
                text-decoration: none

                &:hover
                    text-decoration: underline
