@use "theme"
@use 'nav'
@use 'main'
@use 'animations'
@use 'terminal'
@use 'project-card'
@use 'articles'

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: theme.$default-font
    color: theme.$primary-fg
    background-color: #3c4fa7
    background-image: url('../images/pexels-rahulp9800-1933900.jpg')
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    min-height: 100vh
    display: flex
    flex-direction: column

    overflow: hidden
    @media screen and (max-width: 2082px)
        overflow-y: auto

    main
        flex: 1
        width: 100%
        display: flex
        background-color: theme.$overlay-bg

        @media screen and (max-width: 2082px)
            flex-direction: column

        section
            overflow-y: auto
            flex: 1
            user-select: none
            padding: 10rem
            display: flex
            flex-direction: column
            gap: 5rem
            justify-content: space-between

            @media screen and (max-width: 2082px)
                padding: 5rem 10rem
                column-gap: 1rem
                overflow-y: none

            @media screen and (max-width: 1000px)
                padding: 3rem 2.1rem
                column-gap: 1rem
                gap: 2.5rem
                overflow-y: hidden

.cursor-blink
    content: "a"
    background-color: #fff
    width: 0.8rem
    height: 1.2rem
    animation: blink 1.5s infinite
    display: inline-flex
    vertical-align: middle
